<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SIMPLY LEARN </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">DEPARTMENT <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">DEVELOPMENT</a></li>
          <li><a href="#">TESTEING </a></li>
          <li><a href="#">HR </a></li>
        </ul>
      </li>
      <li><a routerLink="galary">GALARY </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
