<!-- <h1>Hi Welcome to Angualr Application....! </h1>
<app-login></app-login>
<app-contactus></app-contactus>
<app-register></app-register>
<app-loan></app-loan>
<hr>
<h2>
    <a routerLink="home">HOME </a> || 
    <a routerLink="galary">Galary </a>
    <router-outlet></router-outlet>
</h2> -->


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Simpleylearn</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="home">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Department <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">HR</a></li>
            <li><a href="#">Testing</a></li>
            <li><a href="#">Development</a></li>
          </ul>
        </li>
        <li><a routerLink="galary">Galary </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
























