<div style="text-align: center;">
    <h1>PIPE DEMO</h1>
   <h3>
    {{name}}<br>
    
    {{name | uppercase}}<br>
    {{name | lowercase}}<br>
    {{name | titlecase}}<br>
    <br>
    
    {{amount}}<br>
    {{amount |currency}}<br>
    {{amount |currency :'INR'}}<br>
    {{amount |currency :'JPY'}}<br>
    {{amount |currency :'EUR'}}<br>

    <br>
    {{d}}<br>
    {{d | date}}<br>
    {{d | date:'dd-MM-YYYY'}}<br>
    {{d | date:'MM-dd-YYYY'}}<br>
    {{d | date:'MM-dd-YY'}}<br>

    <h2>Costum Pipe </h2>
    {{5 |sqr }}<br>
    {{25 |sqr }}<br>

    {{5  | cube}}<br>
    {{10  | cube}}

   </h3>
</div>